<div class="showfullpage">
<div class="container" style="margin-top: 5%">
  <div class="row py-4">
    <div class="col-md-3"></div>
    <div class="col">
      <h1>Order #<%= @order.id %> <small><span class="badge badge-primary"><%= @order.state %></span></small></h1>

        <h3><strong>ISSUED ON</strong> <%= @order.created_at.to_date %></h3>
            <h2>TOTAL: <%=  humanized_money_with_symbol(@order.sub_total) %></h2>
          <div class="show_box">
           <div class="items_display">
             <% @order.line_items.each do |item| %>

             <ul>
               <table class="table-light">
                <th>
                 <%= cl_image_tag item.product.photo.key, height: 100, width: 200, crop: :thumb %>
                <ul>Artigo: <%= item.product.name %></ul>
                <ul>Preço: <%= humanized_money_with_symbol(item.product.price) %></ul>
                <ul>Quantidade: <%= item.quantity %></ul>
                </th>
                </table>
             </ul>

             <% end %>
             </div>
           <div class="sub_total">
             <p><strong>Nome:</strong> <%= current_user.first_name %> <%= current_user.last_name %></p>
             <p><strong>Morada:</strong> <%= current_user.address %></p>
             <p><strong>Telefone:</strong> <%= current_user.phone_number %></p>
             <p><strong>E-Mail:</strong> <%= current_user.email %></p>
           </div>
          </div>
            <br>
      <h5>Obrigado pela sua compra; confirme o pagamento na sua área pessoal e será contactado(a) após envio.</h5>
    </div>
  </div>
</div>

<div class="container mt-2" style="margin-bottom: 10%">
  <div class="row d-flex justify-content-center">
    <div class="col-align-self-center">
      <div style="margin-top: 7em">
            <%= link_to "Back", products_path, class: "btn btn-outline-dark"%>
      </div>
    </div>
  </div>
</div>

</div>