
<div class="all-profile-boxes">
  <div class="comentsandinfo">
    <div class="profile-box">
      <div class="card border-light mb-3" style="max-width: 18rem;">
        <% if current_user.first_name.present? %>
          <div class="card-header"><%= "Bem-vindo #{current_user.first_name.capitalize}!" %></div>
        <% else %>
          <div class="card-header"><%= "Bem-vindo #{current_user.email}!" %></div>
        <% end %>
          <div class="card-body">
        <!-- <h5 class="card-title">Light card title</h5> -->
            <p class="card-text"><%= link_to "Actualizar Info Pessoal", edit_user_registration_path, class: "text-secondary" %></p>
         </div>
        </div>
    </div>

    <div class="review-box">
      <h3>Os meus comentários:</h3>
      <% current_user.reviews.each do |review| %>
        <div class="card" style="width: 30rem;">
          <div class="card-body">
            <h5 class="card-title"><strong><%= review.product.name %></strong></h5>
            <p class="card-text"><%= review.description %></p>
            <%= link_to "Apagar comentário", product_review_path(current_user.id, review),
            method: :delete,
            data: { confirm: "Tem a certeza?"} %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

    <div class="shopping-box">
        <div class="card text-center">
          <div class="card-header">
            As minhas compras:
          </div>
           <div class="card-body">
            <div class="card" style="width: 40rem;">
              <ul class="list-group list-group-flush">
                <% current_user.orders.each do |order| %>
                  <li class="list-group-item">
                    <% order.line_items.each do |item| %>
                      <%= item.product.name %>
                      <p>Qt:<%= item.quantity %></p>
                   <% end %>
                   <h6>Total: <%= humanized_money_with_symbol(order.sub_total) %></h6>
                  </li>
                   <p><i>Comprado</i> a:<%= order.created_at %></p>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="card-footer text-muted">
          </div>
        </div>
    </div>
</div>


