<div class="profile-box">
  <div class="card border-light mb-3" style="max-width: 18rem;">
    <% if current_user.first_name.present? %>
      <div class="card-header"><%= "Bem-vindo #{current_user.first_name.capitalize}!" %></div>
    <% else %>
      <div class="card-header"><%= "Bem-vindo #{current_user.email}!" %></div>
    <% end %>
      <div class="card-body">
    <!-- <h5 class="card-title">Light card title</h5> -->
        <p class="card-text"><%= link_to "Actualizar Info Pessoal", edit_user_registration_path, class: "text-secondary" %></p>
     </div>
    </div>


    <div class="card text-center">
      <div class="card-header">
        As minhas compras:
      </div>
      <div class="card-body">
      <h5 class="card-title">Ainda não efectuou nenhuma compra</h5>
      </div>
      <div class="card-footer text-muted">
      </div>
    </div>
</div>



<div class="review-box">
  <h3>Os meus comentários:</h3>
  <% current_user.reviews.each do |review| %>
    <div class="card" style="width: 30rem;">
      <div class="card-body">
        <h5 class="card-title"><%= review.product.name %></h5>
        <p class="card-text"><%= review.description %></p>
        <%= link_to "Apagar comentário", product_review_path(current_user.id, review),
        method: :delete,
        data: { confirm: "Tem a certeza?"} %>
      </div>
    </div>
  <% end %>
</div>
