<div class="showfullpage">


<div class="row d-flex justify-content-center" style="margin-top: 5%">
  <h2>O meu Carrinho</h2>
</div>

<% if @cart.line_items.empty?  %>
 <div class="empty_cart">
   <h3>O seu Carrinho está vazio</h3>
 </div>
 <% else %>
<div class="show_box" style="margin-top: 5%">
   <div class="items_display">
      <% @cart.line_items.each do |line_item| %>
      <ul>
       <table class="table-light">
        <th>
         <%= cl_image_tag line_item.product.photo.key, height: 100, width: 200, crop: :thumb %>
        <ul>Artigo: <%= line_item.product.name %></ul>
        <ul>Preço: <%= humanized_money_with_symbol(line_item.product.price) %></>
        <ul>Quantidade: <%= line_item.quantity %></ul>
        <ul style="list-style-type:circle">
          <li>
            <%= link_to "+1", line_item_add_path(line_item), method: :post, class: "btn-grey btn-sm" %>
            <%= link_to "-1", line_item_reduce_path(line_item), method: :post, class: "btn-grey btn-sm" %>
          </li>
          <li>
            <%= link_to "Remover item", line_item_path(line_item), method: :delete %>
          </li>
        </ul>
        </th>
        </table>
       </ul>
      <% end %>
    </div>

    <div class="sub_total" style="text-align: center;">
      <h3>Sub total: <%= humanized_money_with_symbol(@cart.sub_total) %></h3>
      <%= form_tag orders_path do %>
        <%= hidden_field_tag 'cart_id', @cart.id %>
        <%= submit_tag 'Checkout', class: 'btn-green' %>
      <% end %>
      <br>
      <%= link_to "Limpar", cart_path(@current_cart),method: :delete, data: {confirm: "Are you sure?"}, class: 'btn-red' %>
    </div>
</div>
<% end %>

<div class="container mt-2" style="margin-bottom: 10%">
  <div class="row d-flex justify-content-center">
    <div class="col-align-self-center">
      <div style="margin-top: 15em">
            <%= link_to "Produtos", products_path, class: "btn btn-outline-dark"%>
      </div>
    </div>
  </div>
</div>

</div>