
<div class="container">
      <div class="d-flex justify-content-center" style="margin-top: 15%">
         <%= cl_image_tag @product.photo.key, height: 300, width: 400, crop: :thumb %>
      </div>
      <div class="card-body">
         <div class="row d-flex justify-content-center">
           <h4 class="card-title"><%= @product.name %></h4>
           <p class="card-text"><%= @product.description %></p>
         </div>
         <% if user_signed_in? %>
         <div class="row d-flex justify-content-center">
           <div style="margin-top: 35px">
             <span id="button-book" style="z-index: 2" data-toggle="modal" data-target="#product-<%= @product.id %>">
               <button type="button" class="btn btn-outline-success">Adicione um comentário</button>
            </span>
           </div>
         </div>
         <% end %>
      </div>
 </div>

 <div id="comment_title">
   <h4>Comentários:</h4>
 </div>

<% if @product.reviews.nil? %>
  <div class="row d-flex justify-content-center">
   <h6>Este produto ainda não tem comentários</h6>
  </div>
<% else %>
    <div class="review_box">
     <% @product.reviews.each do |review| %>
       <div class="row d-flex justify-content-center">
         <div class="card" style="width: 30rem;">
           <div class="list-group list-group-flush">
              <h5>O utilizador/a <strong> <%= review.user.email %> </strong> escreveu:</h5>
             <li><%= review.description %></li>
             <li><u><%= review.created_at %></u></li>
           </div>
         </div>
       </div>
     <% end %>
    </div>
<% end %>
<!-- REVIEWS MODAL -->

 <div class="modal fade" id="product-<%= @product.id%>" tabindex="-1" role="dialog" aria-labelledby="product-<%= @product.id%>titlelabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="product-<%= @product.id%>titlelabel" >Escreva o seu comentário: </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= render "reviews_form", review: Review.new, product: @product %>
          </div>
        </div>
      </div>
    </div>








<div class="container mt-2" style="margin-bottom: 10%">
  <div class="row d-flex justify-content-center">
    <div class="col-align-self-center">
      <div style="margin-top: 70%">
            <%= link_to "Back", products_path, class: "btn btn-outline-dark"%>
      </div>
    </div>
  </div>
</div>
