 <div class="productshow">
  <div class="container py-3" style="margin-top: 7%">
    <div class="row">
      <div class="col-sm-12 col-md-6">
           <%= cl_image_tag @product.photo.key, height: 300, width: 400, crop: :thumb %>
      </div>
      <div class="col-sm-12 col-md-6">
        <h1><%= @product.name %></h1>
        <p><%= @product.description %></p>
        <br>
        <p><%= @product.extended_description %></p>
        <p>Preço: <%= humanized_money_with_symbol(@product.price) %></p>
        <p><small>Tags: <%= raw @product.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %></small</p>
        <%= button_to "Adicionar ao carrinho", line_items_path(product_id: @product.id), class: 'btn btn-success' %>

        <!--
        <%= form_tag orders_path do %>
          <%= hidden_field_tag 'product_id', @product.id %>
          <%= submit_tag 'Comprar', class: 'btn btn-success' %>
        <% end %> -->
      </div>
    </div>
  </div>
</div>


<% if user_signed_in? %>
   <div class="row d-flex justify-content-center">
     <div style="margin-top: 100px">
       <span id="button-book" style="z-index: 2" data-toggle="modal" data-target="#product-<%= @product.id %>">
         <button type="button" class="btn btn-outline-success btn-sm">Adicione um comentário</button>
      </span>
     </div>
   </div>
<% end %>




 <div id="comment_title">
   <h4>Comentários:</h4>
 </div>

<% if @product.reviews.nil? %>
  <div class="row d-flex justify-content-center">
   <h6>Este produto ainda não tem comentários</h6>
  </div>
<% else %>
    <div class="review_box">
     <% @product.reviews.each do |review| %>
       <div class="row d-flex justify-content-center">
         <div class="card" style="width: 30rem;">
           <div class="list-group list-group-flush">
            <% if review.user.first_name.present? && review.user.last_name.present? %>
              <h5>O utilizador/a <strong><%= review.user.first_name %> <%= review.user.last_name %></strong> escreveu:</h5>
            <% else %>
              <h5>O utilizador/a <strong> <%= review.user.email %> </strong> escreveu:</h5>
            <% end %>
             <li><%= review.description %></li>
             <li><u><%= review.created_at %></u></li>
           </div>
         </div>
       </div>
     <% end %>
    </div>
<% end %>
<!-- REVIEWS MODAL -->

 <div class="modal fade" id="product-<%= @product.id%>" tabindex="-1" role="dialog" aria-labelledby="product-<%= @product.id%>titlelabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="product-<%= @product.id%>titlelabel" >Escreva o seu comentário: </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= render "reviews_form", review: Review.new, product: @product %>
          </div>
        </div>
      </div>
    </div>








<div class="container mt-2" style="margin-bottom: 10%">
  <div class="row d-flex justify-content-center">
    <div class="col-align-self-center">
      <div style="margin-top: 30%">
            <%= link_to "Back", products_path, class: "btn btn-outline-dark"%>
      </div>
    </div>
  </div>
</div>
