<!DOCTYPE html>
<html>
  <head>
    <title>ArteQueCura</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css2?family=David+Libre&family=Sansita+Swashed&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

   
    <%= yield %>

    <%= render 'shared/footer'%>
  </body>
</html>
